## How to print spaces in Python?

In [6]:
print(' ')
print(" ")
print('akshay jadhav')
print('akshay         jadhav')

akshay jadhav
akshay         jadhav

In [8]:
x = 10
y = 20
print('x:',x)
print('y: ',y)

x: 10
y:  20

In [13]:
s = ' '
t = '#'
print('akshay','jadhav')
print('akshay',s,'jadhav')
print('akshay',s*2,'jadhav')
print('akshay',s*3,'jadhav')
print('akshay',t*2,'jadhav')
print('akshay',t*3,'jadhav')

akshay jadhav
akshay   jadhav
akshay    jadhav
akshay     jadhav
akshay ## jadhav
akshay ### jadhav

## Printing different messages by using different variations of print() method.

In [25]:
print('akshay')
print('jadhav')
print()
print('bunny','bankar',sep='#')
print('python','program',end='#')

akshay
jadhav

bunny#bankar
python program#

## Printing different values (integer, float, string, Boolean)

In [39]:
a=10
b=12.455
c='akshay'
d=False
print(11)
print(12.56)
print('aj')
print(True)
print()
print(11+22)
print('aaaa'+'cccc')
print('integer\t:',a)
print('float\t:',b)
print('str\t:',str(c))
print('boolean\t:',str(d))

11
12.56
aj
True

33
aaaacccc
integer	: 10
float	: 12.455
str	: akshay
boolean	: False

## Declare different types of variables, print their values, types and Ids

In [49]:
a = 12
b = 34.54
c = 'akshay'
d = 12+23j
e = True
lst = [23,565,3,2,5]
tpl = (34,765,3,24)
dct = {'name':'akshay'}
    
print(type(a),id(a),a)
print(type(b),id(b),b)
print(type(c),id(c),c)
print(type(d),id(d),d)
print(type(e),id(e),e)
print(type(lst),id(lst),lst)
print(type(tpl),id(tpl),tpl)
print(type(dct),id(dct),dct)

<class 'int'> 140727669762176 12
<class 'float'> 2965537651504 34.54
<class 'str'> 2965537583856 akshay
<class 'complex'> 2965537649168 (12+23j)
<class 'bool'> 140727669479248 True
<class 'list'> 2965538388672 [23, 565, 3, 2, 5]
<class 'tuple'> 2965538383808 (34, 765, 3, 24)
<class 'dict'> 2965538348800 {'name': 'akshay'}